<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: header"></div>
    <title>Cart</title>
</head>
<body>
    <div class="jumbotron text-center">Collected Items</div>
    <div class="container">
        <div class="row line-item" th:each="lineItem : ${order.getItems()}">
            <div class="col-md-6 col-sm-12" th:text="${lineItem.getProductName()}">
                Product Name
            </div>
            <div class="d-inline d-flex justify-content-center flex-wrap">
                <div class="btn btn-primary" id="decrease-button">-</div>
                <div class="col-md-3" th:text="${lineItem.getNumberOfLineItemProducts()}">
                    Number
                </div>
                <div class="btn btn-primary" id="increase-button">+</div>
            </div>
            <div class="col-md-3" th:text="${lineItem.getTotalPrice()}">
                Price
            </div>
        </div>
    </div>


</body>
</html>