<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="header.html :: header"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script th:src="@{/static/scripts/payment.js}" defer></script>

    <title>Payment</title>
</head>
<body>
<div class="jumbotron text-center">
    <h1>Payment</h1>
</div>
<div class="container payment-contain">
    <div id="price-container">
        <div class="d-flex justify-content-center">
            <div class="p-2 price">Order total:&nbsp;
                <span id="order-total-span" th:text="${#numbers.formatDecimal(order.getTotalSum(), 0, 2)}"></span>
                Credits
            </div>
        </div>
    </div>
    <div class="payment-container">
        <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="pill" href="#nav-tab-card">
                    <i class="fa fa-credit-card"></i> Credit Card</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-paypal">
                    <i class="fab fa-paypal"></i> Paypal</a></li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="pill" href="#nav-tab-bank">
                    <i class="fa fa-university"></i> Bank Transfer</a></li>
        </ul>

        <div class="tab-content" id="payment-data">
            <div class="tab-pane fade show active" id="nav-tab-card">
                <form action="" method="post" id="payment-form-card">
                    <div class="form-group">
                        <label for="username">Full name (on the card)</label>
                        <input name="name" type="text" id="username" class="form-control" placeholder="" required>
                    </div> <!-- form-group.// -->

                    <div class="form-group">
                        <label for="card">Card number</label>
                        <div class="input-group">
                            <input maxlength="19" type="text" id="card" class="form-control" name="cardNumber"
                                   placeholder="0000 0000 0000 0000" required>
                            <div class="input-group-append">
                                        <span class="input-group-text text-muted">
                                            <i class="fab fa-cc-visa"></i>&nbsp;<i class="fab fa-cc-amex"></i>&nbsp;<i
                                                class="fab fa-cc-mastercard"></i>
                                        </span>
                            </div>
                        </div>
                    </div> <!-- form-group.// -->

                    <div class="row">
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label><span class="hidden-xs">Expiration</span> </label>
                                <div class="input-group">
                                    <input maxlength="2" type="text" class="form-control" placeholder="MM" name="expirationMonth"
                                           required>
                                    <input maxlength="2" type="text" class="form-control" placeholder="YY" name="expirationYear"
                                           required>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label data-toggle="tooltip" title=""
                                       data-original-title="3 digits code on back side of the card">CVV<i
                                        class="fa fa-question-circle"></i></label>
                                <input maxlength="3" name="cvv" type="text" class="form-control" required>
                            </div> <!-- form-group.// -->
                        </div>
                    </div> <!-- row.// -->
                    <a th:href="@{/confimation}" class="subscribe btn btn-primary btn-block" type="button">Confirm</a>
                </form>
            </div> <!-- tab-pane.// -->
            <div class="tab-pane fade paypal-data" id="nav-tab-paypal">
                <p>Paypal is easiest way to pay online</p>
                <form action="" method="post" id="payment-form-paypal">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email-input">Email</label>
                            <input name="paypalEmail" type="email" class="form-control" id="email-input"
                                   placeholder="you@example.com" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password-input">Password</label>
                            <input name="paypalPassword" type="password" class="form-control" id="password-input"
                                   required>
                        </div>
                    </div>
                    <p>
                        <a th:href="@{/confimation}" type="button" class="btn btn-primary"><i class="fab fa-paypal"></i>
                            Log in my Paypal
                        </a>
                    </p>
                </form>
            </div>
            <div class="tab-pane fade bank-account" id="nav-tab-bank">
                <p>Bank account details</p>
                <dl class="param">
                    <dt>BANK:</dt>
                    <dd> THE NARWHALS BANK</dd>
                </dl>
                <dl class="param">
                    <dt>Account number:</dt>
                    <dd> 12345678912345</dd>
                </dl>
                <dl class="param">
                    <dt>IBAN:</dt>
                    <dd> 123456789</dd>
                </dl>
                <p>Note that bank transactions may take up to 4 hours!</p>
            </div> <!-- tab-pane.// -->
        </div> <!-- tab-content .// -->

    </div> <!-- card-body.// -->
    <div class="d-flex justify-content-start back-to-checkout">
        <a class="btn btn-info" role="button" th:href="@{/checkout}">Back to checkout</a>
    </div>
    <!-- card.// -->


    <!-- col.// -->
</div>

</body>
</html>