.glyphicon {
}
body {
    font-family: 'Aldrich';
}

.card
{
    background-color: darksalmon;
    margin: 10px;
    border-radius: 6px;
    width: min-content;
}
.card:hover
{
    background: #428bca;
}

.card-text, .card-title
{
    text-align: center;
    margin: 5px;
}
.btn-group
{
    margin: 20px;
}

.jumbotron {
    background-image: url("blue.png");

}
h1 {
    font-size: 45px;
    font-weight: bold;
    color: whitesmoke;
}

body {
    background-color: darkblue;
}

.card-img-top {
    width: 15rem;
}
.card-text-center {
    float: initial;
}

#buttons-on-top {
    padding-right: 50px;
    padding-left: 50px;
}

.panel-body {
    color: floralwhite;
    text-align: center;
}

.firstoption {
    margin-top: 80px;
}

.line-item {
    background-color: white;
    margin: 5px auto;
    border-radius: 4px;
    padding: 10px;
}

.amount-button {
    width: 40px;
}

.amount-number {
    width: 20px;
    margin: auto 0px;
}

h1 a {
    color: white;
}